// main: ../main.scss

.pane-main {
  // margin: 65px 0 0 0;
  padding-top: 65px;
  background: #edeef0;
  position: relative;
  width: 100%;
}

.main-container {
  display: flex; 
  margin: 0 auto;
  overflow: hidden;
  padding-top: 20px;
}

.main-content {
  width: 1000px;
  padding: 0 10px;
  margin: 0 auto;
  position: relative;

  &:before {
    content: '';
    display: table;
  }

  .col {
    background: #fff;
    margin-right: 0;
    padding: 0 20px;
    width: 100%;
  }
}

.schedule-header {
  padding: 20px 0 0;

  h1 {
    color: #1d1e1f;
    font-size: 28px;
    font-weight: 700;
  }
}

.league {
  display: block;
  padding: 5px 0 15px 0;
}

.schedule-list {
  list-style: none;
  margin: 0 0 16px 0;
}

.schedule-week-number {
  background: gray;
  border: 1px solid rgba(0, 0, 0, 0.07);
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  margin-right: 10px;
  padding: 2px 4px 0 4px;
  position: relative;
  text-transform: uppercase;
}